body {
  margin: 0;
  background: darkslategray;
  display: flex;
  align-items: center;
  height: 100vh;
}

.gameboard {
  height: 100vh;
  width: 100vh;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  max-height: 60vh;
  max-width: 60vh;
}

.color {
  width: 50%;
  height: 50%;
  display: inline-block;
}

.left {
  float: left;
}

.right {
  float: left;
}

.celeste {
  background: #22a6b3;
}

.celeste.light {
  background: #7ed6df;
}

.violeta {
  background: #be2edd;
}

.violeta.light {
  background: #e056fd;
}

.naranja {
  background: #f0932b;
}

.naranja.light {
  background: #ffbe76;
}

.verde {
  background: #6ab04c;
}

.verde.light {
  background: #badc58;
}

.btn-start {
  width: 400px;
  height: 100px;
  background: #ecf0f1;
  color: #2c3e50;
  font-size: 2.5rem;
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 200px);
}

.start {
  height: 100vh;
  width: 100vw;
  background: #313131cc;
  position: absolute;
}

.count-down {
  color: white;
  font-size: 20rem;
  position: relative;
  top: calc(50% - 11rem);
  left: calc(50% - 6rem);
}

.score {
  width: 300px;
  position: absolute;
  right: 0px;
  top: 0px;
  margin: 50px 100px;
  border: 3px dotted wheat;
  color: white;
  padding: 10px;
  font-size: 1.5rem;
  text-align: center;
}

.score p {
  font-style: italic;
  font-weight: bold;
  margin: 0;
}

.score label {
  display: block;
  font-size: 1.2rem;
  margin: 5px;
  text-align: left;
}


.hide {
  display: none;
}

/* Hasta un ancho máximo de 768px  (iPad)*/
@media screen and (max-width: 768px){

  .gameboard {
    height: 100vw;
    width: 100vw;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    max-height: 90vw;
    max-width: 90vw;
  }

  .score {
    position: absolute;
    width: 80vw;
    height: 3.5em;
    font-size: 15px;
    left: 0;
    top: 80vh;
    margin: 0 auto;
    margin-top: 2em;
    text-align: center;
  }

  .score p {
    font-size: 1.2em;
    font-weight: bold;
    font-style: italic;
    margin: 0;
  }
  
  .score label {
    display: block;
    letter-spacing: 2px;
    font-size: 1em;
    text-align: left;
    margin: 0;
  }

  .btn-start {
    width: 90vw;
    height: 100px;
    background: #ecf0f1;
    color: #2c3e50;
    font-size: 2.5rem;
    position: absolute;
    top: calc(50% - 50px);
    left: 5vw;
  }

}
